/* body{
    text-align: center;

}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height:200px;
    display: flex;
    flex-direction: row;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: antiquewhite;
}
#box3{
    background-color: orange;
}
#box4{
    background-color: blue;
}
#box5{
    background-color: rgb(255, 0, 102);
} */
div{
    display: flex;
    flex-direction: row;
    background-color: pink;
}
li{
    list-style-type: none;
    display: inline;
}
.navbar{
    display: flex;
    justify-content: space-evenly;

}