/* h1{
    background-color: red;

}
*{
    color: white;
    text-decoration: none;
}

#navbar{
    background-color: #0f1111;
    height: 100px;
    border: 20px;
    border-color: white;
    display: inline;
}
button{
    background-color: yellow;
}
#logo{
    color: yellow;
    font-size: 25px;
}
a{
    margin-right: 200px;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
}
.content{
    border: 10px black;
}
#id1{
    background-color: rgb(00, 40, 196, 0.5);
}
#id2{
    background-color:rgb(40, 00, 16, 0.5);
}
#id3{
    background-color: rgb(40, 40, 6, 0.5);
} */
div{
    height: 500px;
    width: 400px;
    background-image: url("backgroundimage.jpg");
    background-size: cover;
    position:fixed;
    right: 0px;
    color: white;
    top: 60px;
}